html,
body {
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0;
}

body {
  border-top: 10px solid black;
  background-color: rgb(230, 230, 230);
  color: #444;
}

header,
section,
hr,
#inner-footer{
  max-width: 1000px;
  margin: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Quadrado principal */

#greeter {
  height: 400px;
  overflow: hidden;
  background: linear-gradient(to right, orange, #fa5e00);
}

#greeter-left-side,
#greeter-right-side {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}

#greeter-left-side {
  width: 55%;
  margin-right: -5px;
}

#greeter-right-side {
  width: 40%;
  margin-left: 0;
}

/* Lado esquerdo */

#greeter-left-side {
  padding: 40px 0 0 40px
}

.big-text {
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 0.9;
  color: white;
  text-shadow: 1px 1px 1px #fa5e00;
}

.action {
  margin-top: 30px;
  padding: 12px;
  background: black;
  color: lightgrey;
  font-weight: bold;
  width: 90%;
}

.action a {
  text-decoration: none;
  float: right;
  color: orange;
}

.action a:after {
  content: "→";
  margin-left: 5px;
}

/* Lado direito */

.page-azul,
.page-rosa {
  display: inline-block;
  position: relative;
  height: 800px;
  width: 400px;
  border-radius: 10px 10px 0 0;
}

.page-azul {
  background-color: lightblue;
  top: calc(-800px + 70px);
}

.page-rosa {
  background-color: lightpink;
  z-index: 2;
  top: 15px;
  right: -150px;
}

/* Seções do site */

/* #pages {
  height: 250px;
} */

.resumo-page {
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3 - 50px);
  box-sizing: border-box;
}

.resumo-page:nth-of-type(2) {
  margin: 0 70px;
}

.titulo {
  font-weight: bold;
  color: black;
}

.resumo-page .titulo {
  padding: 10px 0;
  border-bottom: 5px solid black;
}

.titulo:before {
  content: "→";
  margin-right: 10px;
}

p {
  line-height: 2;
}

.read-link {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

.check-list {
  padding-left: 25px;
  list-style: square;
}

.check-list li {
  margin-bottom: 10px;
}

.read-link:before {
  content: "→";
  margin-right: 10px;
  color: initial;
}

.assinatura {
  font-style: italic;
  color: black;
}

/* Our portfolio */

.portfolio-itens {
  margin-top: 15px;
}

.portfolio-item {
  display: inline-block;
  background-color: limegreen;
  height: 120px;
  box-sizing: border-box;
  width: 20%;
  margin-right: calc(20% / 3 - 5px);
}

.portfolio-item:last-of-type {
  margin-right: 0;
}

/* Blog e redes */

.blog-updates,
.connect-with-us {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.blog-updates {
  width: 75%;
  padding-right: 20px;
  margin-right: -6px;
}

.connect-with-us {
  width: 25%;
}

.social-media {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  float: left;
}

.social-media-azul {
  background: blue;
}

.social-media-ciano {
  background: cyan;
}

.social-media-cinza {
  background: grey;
}

.social-media-laranja {
  background: orange;
}

/* Rodapé */

footer {
/*   height: 100px; */
  background: rgb(200, 200, 200);
}

#inner-footer {
  padding: 10px 0;
}

#footer-left-side {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 50%;
  margin-right: -10px;
}

#wrapper-logo-footer {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 50%;
}

.footer-sites {
  list-style: none;
  padding: 0;
  /*! margin-bottom: 10px !important; */
}

.footer-site {
  float: left;
}

.footer-site::after {
  content: "|";
  margin: 0 10px;
}

.footer-site:last-of-type::after {
  content: none;
}

.footer-site-link {
  text-decoration: none;
  color: inherit;
}

.copyright {
  clear: both;
  line-height: 3;
  /*! margin-top: 10px; */
}

/* LOGO */

/* #wrapper-logo-footer {
  float: right;
} */

.logo {
  height: 100px;
  width: 160px;
}

.logo-footer {
  float: right;
}

.logo-circle {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: orange;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 80px;
  font-weight: bolder;
}

.logo-light-circle {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: -85px;
  left: 60px;
  height: 70px;
  width: 70px;
  background: rgba(255,255,0,0.4);
  border-radius: 50%;
}

.logo-fancy-text {
/*   display: inline-block; */
/*   width: 150px; */
  position: relative;
  font-size: 14pt;
  left: 15px;
  top: 10px;
  color: black;
  font-weight: bold;
}